PORT=3000
JWT_SECRET=your-super-secret-key-here

# Kysely + SQLite
DATABASE_URL="file:./data/telegram-bot.db"

# For frontend
CORS_ORIGIN=http://localhost:5173


# Admin credentials
ADMIN_EMAIL=admin@telenova.com
ADMIN_PASSWORD=admin123
